<h2 mat-dialog-title>Configure {{provider.name}}</h2>
<mat-dialog-content [formGroup]="providerForm">

  <ng-container [ngSwitch]="providerType">

    <ng-container *ngSwitchCase="'OpenAiTranscriber'">
      <mat-radio-group formControlName="apiKeyType" style="margin-bottom: 10px;">
        <mat-radio-button value="client">Use Client API Key</mat-radio-button>
        <mat-radio-button value="actus" style="margin-left: 16px;">Use Actus API Key</mat-radio-button>
      </mat-radio-group>
      <mat-form-field appearance="outline" class="full-width" style="margin-top: 10px;"
        *ngIf="providerForm.get('apiKeyType')?.value === 'client'">
        <mat-label>API Key</mat-label>
        <input matInput formControlName="apiKey" />
      </mat-form-field>
    </ng-container>

    <ng-container *ngSwitchCase="'OpenAiTextAnalysis'">
      <mat-radio-group formControlName="apiKeyType" style="margin-bottom: 10px;">
        <mat-radio-button value="client">Use Client API Key</mat-radio-button>
        <mat-radio-button value="actus" style="margin-left: 16px;">Use Actus API Key</mat-radio-button>
      </mat-radio-group>
      <mat-form-field appearance="outline" class="full-width" style="margin-top: 10px;"
        *ngIf="providerForm.get('apiKeyType')?.value === 'client'">
        <mat-label>API Key</mat-label>
        <input matInput formControlName="apiKey" />
      </mat-form-field>
    </ng-container>

    <ng-container *ngSwitchCase="'WhisperTranscriber'">
      <mat-form-field appearance="outline" class="full-width" style="margin-top: 10px;">
        <mat-label>API Url</mat-label>
        <input matInput formControlName="apiUrl" />
        <mat-hint>Replace only the IP address with the Whisper server's IP, typically the GPU-equipped server. Keep all the rest</mat-hint>
      </mat-form-field>
    </ng-container>

    <ng-container *ngSwitchCase="'AzureTranslator'">
      <mat-radio-group formControlName="apiKeyType" style="margin-bottom: 10px;">
        <mat-radio-button value="client">Use Client API Key</mat-radio-button>
        <mat-radio-button value="actus" style="margin-left: 16px;">Use Actus API Key</mat-radio-button>
      </mat-radio-group>

      <mat-form-field appearance="outline" class="full-width" style="margin-top: 10px;"
        *ngIf="providerForm.get('apiKeyType')?.value === 'client'">
        <mat-label>API Key</mat-label>
        <input matInput formControlName="apiKey" />
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width"
        *ngIf="providerForm.get('apiKeyType')?.value === 'client'">
        <mat-label>Location</mat-label>
        <input matInput formControlName="location" />
      </mat-form-field>
    </ng-container>

    <ng-container *ngSwitchCase="'SpeechmatixTranscriber'" class="full-width">
      <mat-radio-group formControlName="serviceType" style="margin-bottom: 10px;">
        <mat-radio-button value="cloud">Cloud</mat-radio-button>
        <mat-radio-button value="on-premise" style="margin-left: 16px;">On-Premise</mat-radio-button>
      </mat-radio-group>
      <mat-form-field *ngIf="providerForm.get('serviceType')?.value === 'cloud'" appearance="outline" class="full-width" style="margin-top: 10px;">
        <mat-label>API Key</mat-label>
        <input matInput formControlName="apiKey" />
      </mat-form-field>
      <mat-form-field *ngIf="providerForm.get('serviceType')?.value !== 'cloud'" appearance="outline" class="full-width" style="margin-top: 10px;">
        <mat-label>API Url</mat-label>
        <input matInput formControlName="apiUrl" />
        <mat-hint>Replace only the IP address with the SpeechMatix server's IP, typically the GPU-equipped server. Keep all the rest.</mat-hint>
      </mat-form-field>

    </ng-container>

    <ng-container *ngSwitchCase="'AzureVideoIndexer'" >
      <mat-form-field appearance="outline" class="full-width" style="margin-top: 10px;">
        <mat-label>Entra Client ID</mat-label>
        <input matInput formControlName="entraclientid" />
      </mat-form-field>
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Entra Tenant ID</mat-label>
        <input matInput formControlName="entratenantid" />
      </mat-form-field>
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>ARM VI Location</mat-label>
        <input matInput formControlName="armvilocation" />
      </mat-form-field>
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>ARM VI Account Name</mat-label>
        <input matInput formControlName="armviaccountname" />
      </mat-form-field>
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>ARM VI Account ID</mat-label>
        <input matInput formControlName="armviaccountid" />
      </mat-form-field>
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>ARM VI Subscription ID</mat-label>
        <input matInput formControlName="armvisubscriptionid" />
      </mat-form-field>
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>ARM VI Resource Group</mat-label>
        <input matInput formControlName="armviresourcegroup" />
      </mat-form-field>
    </ng-container>
  </ng-container>

</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="onCancel()">Cancel</button>
  <button mat-button color="primary" (click)="onTestConnection()" [disabled]="isVerifyDisabled">
    {{ isTesting ? 'Verifying...' : 'Verify' }}
  </button>
  <span [style.color]="testPassed ? 'green' : 'red'">{{ testMessage }}</span>
  <mat-icon *ngIf="testPassed" style="color: green; margin-left: 8px;">check_circle</mat-icon>
  <mat-icon *ngIf="!testPassed && testMessage" style="color: red; margin-left: 8px;">cancel</mat-icon>
  <button mat-button color="accent" (click)="onSaveAndEnable()" [disabled]="!testPassed || isTesting ">
    Save & Enable
  </button>
</mat-dialog-actions>