<div class="container">
  <h1 class="title">
    {{ 'PAGES.DETAIL.TITLE' | translate }}
  </h1>

  <button mat-raised-button>Basic</button>
  <button mat-stroked-button>Basic</button>
  <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
    <mat-button-toggle value="bold">Bold</mat-button-toggle>
    <mat-button-toggle value="italic">Italic</mat-button-toggle>
    <mat-button-toggle value="underline">Underline</mat-button-toggle>
  </mat-button-toggle-group>
  <a routerLink="/">{{ 'PAGES.DETAIL.BACK_TO_HOME' | translate }}</a>
</div>
