<div>
  <mat-stepper [linear]="isLinear" #stepper>
    <mat-step [stepControl]="firstFormGroup">
      <form [formGroup]="firstFormGroup">
        <ng-template matStepLabel>Configure AI Providers</ng-template>
        <h2><i>Arrange the providers within each column by dragging and dropping them, with the topmost provider
            receiving
            the highest priority.</i></h2>
        <br>
        <div class="providers-container">
          <div class="column">
            <mat-icon>audiotrack</mat-icon>
            <mat-icon>mic_none</mat-icon>
            <mat-icon>headset_mic</mat-icon>
            <mat-icon>perm_camera_mic</mat-icon>
            <h3>Transcribers</h3>
            <div cdkDropList (cdkDropListDropped)="drop($event, 'transcription')">
              <mat-card *ngFor="let provider of transcriptionProviders" cdkDrag>
                <mat-card-header [ngClass]="{'disabled-card': !provider.enabled}">
                  <div mat-card-avatar>
                    <img [src]="getProviderIcon(provider.displayName)" alt="{{ provider.displayName }}" width="40"
                      height="40">
                  </div>
                  <mat-card-title>{{ provider.displayName }}</mat-card-title>
                  <mat-card-subtitle>{{ provider.name }}</mat-card-subtitle>
                  <div class="checkbox-container" [ngClass]="{'disabled-card': !provider.enabled}">
                    <mat-checkbox [checked]="provider.enabled" color="primary"
                      (change)="toggleProvider(provider)"></mat-checkbox>
                  </div>
                </mat-card-header>
                <mat-card-content [ngClass]="{'disabled-card': !provider.enabled}"
                  [ngStyle]="{'max-height': provider.showFullText ? 'none' : '120px', 'overflow': 'hidden'}">
                  <p>{{ provider.description }}</p>
                </mat-card-content>
                <mat-card-actions>
                  <button mat-button color="primary" (click)="configureProvider(provider)"
                    class="configure-all-time-button"
                    style="opacity: 1 !important; pointer-events: auto; filter: none !important;">Configure</button>
                  <button mat-button color="accent" *ngIf="isDescriptionLong(provider)" (click)="toggleText(provider)"
                    [ngClass]="{'disabled-card': !provider.enabled}">
                    {{ provider.showFullText ? 'Show Less' : 'Show More' }}

                  </button>
                  <span style="flex-grow: 1;"></span>
                  <mat-icon *ngIf="provider.onPremise; else cloudIcon" style="cursor: default;"
                    [ngClass]="{'disabled-card': !provider.enabled}">home</mat-icon>
                  <ng-template #cloudIcon>
                    <mat-icon style="cursor: default;"
                      [ngClass]="{'disabled-card': !provider.enabled}">cloud_queue</mat-icon>
                  </ng-template>
                </mat-card-actions>
              </mat-card>
            </div>
          </div>
          <div class="column">
            <mat-icon>language</mat-icon>
            <mat-icon>text_rotation_none</mat-icon>
            <h3>Translators</h3>
            <div cdkDropList (cdkDropListDropped)="drop($event, 'translation')">
              <mat-card *ngFor="let provider of translationProviders" cdkDrag
                [ngClass]="{'disabled-card': !provider.enabled}">
                <mat-card-header>
                  <div mat-card-avatar>
                    <img [src]="getProviderIcon(provider.displayName)" alt="{{ provider.displayName }}" width="40"
                      height="40">
                  </div>
                  <mat-card-title>{{ provider.displayName }}</mat-card-title>
                  <mat-card-subtitle>{{ provider.name }}</mat-card-subtitle>
                  <div class="checkbox-container">
                    <mat-checkbox [checked]="provider.enabled" color="primary"
                      (change)="toggleProvider(provider)"></mat-checkbox>
                  </div>
                </mat-card-header>
                <mat-card-content
                  [ngStyle]="{'max-height': provider.showFullText ? 'none' : '120px', 'overflow': 'hidden'}">
                  <p>{{provider.description}}</p>
                </mat-card-content>
                <mat-card-actions>
                  <button mat-button color="primary" (click)="configureProvider(provider)">Configure</button>
                  <button mat-button color="accent" *ngIf="isDescriptionLong(provider)" (click)="toggleText(provider)">
                    {{ provider.showFullText ? 'Show Less' : 'Show More' }}
                  </button>
                  <span style="flex-grow: 1;"></span>
                  <mat-icon *ngIf="provider.onPremise; else cloudIcon" style="cursor: default;">home</mat-icon>
                  <ng-template #cloudIcon>
                    <mat-icon style="cursor: default;">cloud_queue</mat-icon>
                  </ng-template>
                </mat-card-actions>
              </mat-card>
            </div>
          </div>
          <div class="column">
            <mat-icon>text_fields</mat-icon>
            <mat-icon>wrap_text</mat-icon>
            <mat-icon>find_replace</mat-icon>
            <h3>Text Analyzers</h3>
            <div cdkDropList (cdkDropListDropped)="drop($event, 'textAnalysis')">
              <mat-card *ngFor="let provider of textAnalysisProviders" cdkDrag
                [ngClass]="{'disabled-card': !provider.enabled}">
                <mat-card-header>
                  <div mat-card-avatar>
                    <img [src]="getProviderIcon(provider.displayName)" alt="{{ provider.displayName }}" width="40"
                      height="40">
                  </div>
                  <mat-card-title>{{ provider.displayName }}</mat-card-title>
                  <mat-card-subtitle>{{ provider.name }}</mat-card-subtitle>
                  <div class="checkbox-container">
                    <mat-checkbox [checked]="provider.enabled" color="primary"
                      (change)="toggleProvider(provider)"></mat-checkbox>
                  </div>
                </mat-card-header>
                <mat-card-content
                  [ngStyle]="{'max-height': provider.showFullText ? 'none' : '120px', 'overflow': 'hidden'}">
                  <p>{{provider.description}}</p>
                </mat-card-content>
                <mat-card-actions>
                  <button mat-button color="primary" (click)="configureProvider(provider)">Configure</button>
                  <button mat-button color="accent" *ngIf="isDescriptionLong(provider)" (click)="toggleText(provider)">
                    {{ provider.showFullText ? 'Show Less' : 'Show More' }}
                  </button>
                  <span style="flex-grow: 1;"></span>
                  <mat-icon *ngIf="provider.onPremise; else cloudIcon" style="cursor: default;">home</mat-icon>
                  <ng-template #cloudIcon>
                    <mat-icon style="cursor: default;">cloud_queue</mat-icon>
                  </ng-template>
                </mat-card-actions>
              </mat-card>
            </div>
          </div>
          <div class="column">
            <mat-icon>tag_faces</mat-icon>
            <mat-icon>favorite</mat-icon>
            <mat-icon>feedback</mat-icon>
            <mat-icon>face</mat-icon>
            <h3>Others</h3>
            <div cdkDropList (cdkDropListDropped)="drop($event, 'others')">
              <mat-card *ngFor="let provider of otherProviders" cdkDrag
                [ngClass]="{'disabled-card': !provider.enabled}">
                <mat-card-header>
                  <div mat-card-avatar>
                    <img [src]="getProviderIcon(provider.displayName)" alt="{{ provider.displayName }}" width="40"
                      height="40">
                  </div>
                  <mat-card-title>{{ provider.displayName }}</mat-card-title>
                  <mat-card-subtitle>{{ provider.name }}</mat-card-subtitle>
                  <div class="checkbox-container">
                    <mat-checkbox [checked]="provider.enabled" color="primary"
                      (change)="toggleProvider(provider)"></mat-checkbox>
                  </div>
                </mat-card-header>
                <mat-card-content
                  [ngStyle]="{'max-height': provider.showFullText ? 'none' : '120px', 'overflow': 'hidden'}">
                  <p>{{provider.description}}</p>
                </mat-card-content>
                <mat-card-actions>
                  <button mat-button color="primary" (click)="configureProvider(provider)">Configure</button>
                  <button mat-button color="accent" *ngIf="isDescriptionLong(provider)" (click)="toggleText(provider)">
                    {{ provider.showFullText ? 'Show Less' : 'Show More' }}
                  </button>
                  <span style="flex-grow: 1;"></span>
                  <mat-icon *ngIf="provider.onPremise; else cloudIcon" style="cursor: default;">home</mat-icon>
                  <ng-template #cloudIcon>
                    <mat-icon style="cursor: default;">cloud_queue</mat-icon>
                  </ng-template>
                </mat-card-actions>
              </mat-card>
            </div>
          </div>
        </div>
        <div>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup" label="Fill list of languages defined in the UI">
      <form [formGroup]="secondFormGroup">
        <mat-card>
          <mat-card-title>
            <i>Languages List – These are the languages supported by our AI module and available to the user.</i>
            <br>
          </mat-card-title>
          <mat-card-subtitle><i>To add more languages, select one from the dropdown list.</i></mat-card-subtitle>
          <br>
          <div style="display: flex; align-items: center;">
            <mat-form-field appearance="outline">
              <mat-label>Select a Language</mat-label>
              <input matInput [formControl]="languageControl" [matAutocomplete]="auto" />
              <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onLanguageSelected($event)">
                <mat-option *ngFor="let lang of filteredLanguages | async" [value]="lang.englishName">
                  {{ lang.englishName }} ({{ lang.isocode }})
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
            <button mat-raised-button color="primary" style="margin-left: 10px; margin-top: -24px;"
              (click)="addSelectedLanguage()">
              Add
            </button>
          </div>
          <div class="table-container">
            <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
              <ng-container matColumnDef="englishName">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> English Name </th>
                <td mat-cell *matCellDef="let language"> {{ language.englishName }} </td>
              </ng-container>
              <ng-container matColumnDef="displayName">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Display Name </th>
                <td mat-cell *matCellDef="let language">
                  <ng-container *ngIf="!language.isEditing; else editMode">
                    <div style="display: flex; align-items: center;">
                      {{ language.displayName }}
                      <button mat-icon-button color="primary" (click)="editLanguage(language)">
                        <mat-icon>edit</mat-icon>
                      </button>
                    </div>
                  </ng-container>
                  <ng-template #editMode>
                    <div style="display: flex; align-items: center; gap: 8px;">
                      <mat-form-field appearance="outline" style="width: 120px; max-height: 36px;">
                        <input matInput [(ngModel)]="language.displayName" [value]="language.displayName || ''"
                          style="height: 36px; padding: 4px 8px; line-height: normal;">
                      </mat-form-field>
                      <button mat-icon-button color="primary" (click)="saveLanguage(language)">
                        <mat-icon>check</mat-icon>
                      </button>
                      <button mat-icon-button color="warn" (click)="cancelEdit(language)">
                        <mat-icon>close</mat-icon>
                      </button>
                    </div>
                  </ng-template>
              </ng-container>
              <ng-container matColumnDef="isocode">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> ISO Code </th>
                <td mat-cell *matCellDef="let language"> {{ language.isocode }} </td>
              </ng-container>
              <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef> Actions </th>
                <td mat-cell *matCellDef="let lang">
                  <button mat-icon-button color="warn" (click)="removeLanguage(lang)">
                    <mat-icon>delete</mat-icon>
                  </button>
                </td>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
          </div>
        </mat-card>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
          <button mat-raised-button (click)="saveLanguages()" color="primary" style="float:right">Save
            Languages</button>
        </div>
      </form>
    </mat-step>
  </mat-stepper>
</div>