/* In your component's CSS or global CSS */
json-editor {
    min-height: 400px; /* Adjust as needed */
    width: 100%;
    display: block;
  }
  
  .jsoneditor {
      height: 100%;
  }
  
  .ace_editor.ace-jsoneditor {
    min-height: 500px;
  }


  .mat-stepper-horizontal {
    margin-top: 8px;
  }
  
  .mat-mdc-form-field {
    margin-top: 16px;
  }
  