<div>
  <mat-stepper [linear]="isLinear" #stepper>
    <mat-step [stepControl]="firstFormGroup">
      <form [formGroup]="firstFormGroup">
        <ng-template matStepLabel>Configure AI Providers</ng-template>
        <h2><i>Arrange the providers within each column by dragging and dropping them, with the topmost provider receiving
          the highest priority.</i></h2>
        <br>
        <div class="providers-container">
          <div class="column">
            <!-- <div class="column-header"> -->
            <mat-icon>audiotrack</mat-icon>
            <mat-icon>mic_none</mat-icon>
            <mat-icon>headset_mic</mat-icon>
            <mat-icon>perm_camera_mic</mat-icon>
            <h3>Transcribers</h3>
            <!-- </div> -->
            <div cdkDropList (cdkDropListDropped)="drop($event, 'transcription')">
              <mat-card *ngFor="let provider of transcriptionProviders" cdkDrag>
                <mat-card-header>
                  <div mat-card-avatar>
                    <img [src]="getProviderIcon(provider.displayName)" alt="{{ provider.displayName }}" width="40"
                      height="40">
                  </div>
                  <mat-card-title>{{ provider.displayName }}</mat-card-title>
                  <mat-card-subtitle>{{ provider.name }}</mat-card-subtitle>
                </mat-card-header>
                <!-- [ngStyle]="{'max-height': provider.showFullText ? 'none' : '120px', 'overflow': 'hidden'}" -->
                <!-- [ngClass]="provider.showFullText ? 'expanded' : 'truncated'" -->
                <mat-card-content
                  [ngStyle]="{'max-height': provider.showFullText ? 'none' : '120px', 'overflow': 'hidden'}">
                  <p>{{ provider.description }}</p>
                </mat-card-content>
                <mat-card-actions>
                  <button mat-button color="primary">Configure</button>
                  <button mat-button color="warn">Delete</button>
                  <button mat-button color="accent" *ngIf="isDescriptionLong(provider)" (click)="toggleText(provider)">
                    {{ provider.showFullText ? 'Show Less' : 'Show More' }}
                  </button>
                </mat-card-actions>
              </mat-card>
            </div>
          </div>
          <div class="column">
            <mat-icon>language</mat-icon>
            <mat-icon>text_rotation_none</mat-icon>
            <!-- <mat-icon>headset_mic</mat-icon>
            <mat-icon>perm_camera_mic</mat-icon> -->
            <h3>Translators</h3>
            <div cdkDropList (cdkDropListDropped)="drop($event, 'translation')">
              <mat-card *ngFor="let provider of translationProviders" cdkDrag>
                <mat-card-header>
                  <div mat-card-avatar>
                    <img [src]="getProviderIcon(provider.displayName)" alt="{{ provider.displayName }}" width="40"
                      height="40">
                  </div>
                  <mat-card-title>{{ provider.displayName }}</mat-card-title>
                  <mat-card-subtitle>{{ provider.name }}</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content [ngStyle]="{'max-height': provider.showFullText ? 'none' : '120px', 'overflow': 'hidden'}">
                  <p>{{provider.description}}</p>
                </mat-card-content>
                <mat-card-actions>
                  <button mat-button color="primary">Configure</button>
                  <button mat-button color="warn">Delete</button>
                  <button mat-button color="accent" *ngIf="isDescriptionLong(provider)" (click)="toggleText(provider)">
                    {{ provider.showFullText ? 'Show Less' : 'Show More' }}
                  </button>
                </mat-card-actions>
              </mat-card>
            </div>
          </div>
          <div class="column">
            <mat-icon>text_fields</mat-icon>
            <mat-icon>wrap_text</mat-icon>
            <mat-icon>find_replace</mat-icon>
            <!-- <mat-icon>perm_camera_mic</mat-icon> -->
            <h3>Text Analyzers</h3>
            <div cdkDropList (cdkDropListDropped)="drop($event, 'textAnalysis')">
              <mat-card *ngFor="let provider of textAnalysisProviders" cdkDrag>
                <mat-card-header>
                  <div mat-card-avatar>
                    <img [src]="getProviderIcon(provider.displayName)" alt="{{ provider.displayName }}" width="40"
                      height="40">
                  </div>
                  <mat-card-title>{{ provider.displayName }}</mat-card-title>
                  <mat-card-subtitle>{{ provider.name }}</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content [ngStyle]="{'max-height': provider.showFullText ? 'none' : '120px', 'overflow': 'hidden'}">
                  <p>{{provider.description}}</p>
                </mat-card-content>
                <mat-card-actions>
                  <button mat-button color="primary">Configure</button>
                  <button mat-button color="warn">Delete</button>
                  <button mat-button color="accent" *ngIf="isDescriptionLong(provider)" (click)="toggleText(provider)">
                    {{ provider.showFullText ? 'Show Less' : 'Show More' }}
                  </button>
                </mat-card-actions>
              </mat-card>
            </div>
          </div>
          <div class="column">
            <mat-icon>tag_faces</mat-icon>
            <mat-icon>favorite</mat-icon>
            <mat-icon>feedback</mat-icon>
            <mat-icon>face</mat-icon>
            <h3>Others</h3>
            <div cdkDropList (cdkDropListDropped)="drop($event, 'others')">
              <mat-card *ngFor="let provider of otherProviders" cdkDrag>
                <mat-card-header>
                  <div mat-card-avatar>
                    <img [src]="getProviderIcon(provider.displayName)" alt="{{ provider.displayName }}" width="40"
                      height="40">
                  </div>
                  <mat-card-title>{{ provider.displayName }}</mat-card-title>
                  <mat-card-subtitle>{{ provider.name }}</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content [ngStyle]="{'max-height': provider.showFullText ? 'none' : '120px', 'overflow': 'hidden'}">
                  <p>{{provider.description}}</p>
                </mat-card-content>
                <mat-card-actions>
                  <button mat-button color="primary">Configure</button>
                  <button mat-button color="warn">Delete</button>
                  <button mat-button color="accent" *ngIf="isDescriptionLong(provider)" (click)="toggleText(provider)">
                    {{ provider.showFullText ? 'Show Less' : 'Show More' }}
                  </button>
                </mat-card-actions>
              </mat-card>
            </div>
          </div>
        </div>

        <div>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup" label="Fill list of languages defined in the UI">
      <form [formGroup]="secondFormGroup">
        <mat-form-field>
          <mat-label>Address</mat-label>
          <input matInput formControlName="secondCtrl" placeholder="Ex. 1 Main St, New York, NY" required>
        </mat-form-field>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Test Providers</ng-template>
      <p>You are now done.</p>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button (click)="stepper.reset()">Reset</button>
      </div>
    </mat-step>
  </mat-stepper>
</div>